:root{
--primary-color: #fff;
--secondary-color: #000 ;
--accent1-color: #ddedc0;
--accent2-color: #244b82;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid red; */
}
header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
body{
    font-family: var(--body-font);
    color: var(--secondary-color);
    width: 80%;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
h2{
    background-color: var(--accent2-color);
    text-align: center;
    padding: 10px;
}
header nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
nav a{
    display: block;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer nav{
   display: flex;
   gap: 10px;
   margin-left: auto;
}

.history{
    display: flex;
    flex-direction: column;
}
.history div{
    display: flex;
    align-items: center;
}
.history img{
    width: 300px;
    aspect-ratio: 1;
    margin: 10px;
    object-fit: contain;
}
.history p{
    flex:1;
    margin: 0;
    padding: 0;
}

.adventure div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.adventure img{
    width: 150px;
    height: 100px;
}

.socialmedia a{
    text-decoration: none;
}
.socialmedia a img{
    position: relative;
    width: 50px;
}

.hero{
    position: relative;
    margin-bottom: 10px;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero article{
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    background-color: var(--accent2-color);
    bottom: 10px;
    width: 100%;
    opacity: 0.7;
    color: #fff;
}
.hero article img{
    width: 100px;
    opacity: 1.0;
}
.hero p{
    padding: 8px;
}



h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}


