:root{
--primary-color: #fff;
--secondary-color: #000 ;
--accent1-color: #ddedc0;
--accent2-color: #244b82;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border:1px solid red; */
}
header {
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}
body{
    font-family: var(--body-font);
    color: var(--secondary-color);
    width: 70%;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
h2{
    background-color: var(--accent2-color);
    text-align: center;
    padding: 10px;
}
header nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
}
nav a{
    display: block;
    text-decoration: none;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
footer nav{
   display: flex;
   gap: 10px;
   margin-left: auto;
}

.history{
    display: flex;
    flex-direction: column;
}
.history div{
    display: flex;
    align-items: center;
}
.history img{
    width: 300px;
    aspect-ratio: 1;
    margin: 10px;
    object-fit: contain;
}
.history p{
    flex:1;
    margin: 0;
    padding: 0;
}

.adventure div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.adventure img{
    width: 150px;
    height: 100px;
}

.socialmedia a{
    text-decoration: none;
}
.socialmedia a img{
    position: relative;
    width: 50px;
}

.hero{
    position: relative;
    margin-bottom: 10px;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero article{
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: absolute;
    background-color: var(--accent2-color);
    bottom: 10px;
    width: 100%;
    opacity: 0.7;
    color: #fff;
}
.hero article img{
    width: 100px;
    opacity: 1.0;
    float: right;
}
.hero p{
    padding: 8px;
}

h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}

.contact{
    margin-bottom: 20px;
}
.contact h1{
    top: 10px;
    position: relative;
    margin-bottom: 20px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    opacity: 1.0;
    background-color: var(--primary-color);
    padding: 8px;
}
.contact article{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.info{
    display: flex;
}

.email{
    margin: 10px;
}
.message{
    display: flex;
}
.message p {
    display: flex;
    align-self: center;
}
.mpurpose label{
    display: flex;
    margin-left: 10px;
    justify-content: flex-end;
}
.mbox{
    display: flex;
    flex-direction: column;
}
.mbox input{
    height: 50px;
}
button{
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: .50rem;
    width: 350px;
}
.employee-profile div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.employee-profile h2{
    margin-top: 30px;
}
.employee-profile img{
    width: 200px;
}


.homepage-h1 h1{
    font-size: 2.5rem;
}
.homepage-newsletter{
    width: 100%;
    display: flex;
    justify-content: center;
}
.homepage-email{
    border:1px solid black;
    padding: 1rem;
}
.homepage-adventure figure{
    margin: 1rem;
}
.homepage-adventure img{
    display: flex;
    width: 300px;
    height: auto;
}
figcaption{
    text-align: center;
}

.trips-name{
    color: #244b82;
    font-size: 2rem;
}
.trips-description{
    font-size: 1rem;
}
.head-caption{
    font-size: 2rem;
}
.trip-ads div{
    display: flex;
    justify-content: center;
    text-align: center;
}
.trip-ads figure{
    background-color: var(--accent1-color);
    border: 2px solid maroon;
    width: 30rem;
}
.trip-ads img{
    width: 200px;
    height: auto;
    margin: 1rem auto .5rem auto ;
    border: 1px solid black;
    display: flex;
    align-self: center;
}
.trip-ads figcaption{
    margin-top: 1rem;
    
}
.trip-ads aside{
    margin: .5rem .5rem .5rem;
}
.contact-link{
    font-size: 2rem;
    width: 100%;
    margin: 3rem auto 3rem auto ;
    background-color: #fff;
    border: 2px solid maroon;
    text-decoration: none;
    color: #000;;
}


