:root{
--primary-color: #fff;
--secondary-color: #34ebc9;
--accent1-color: #000;
--accent2-color: #244b82;
--heading-font: "Times New Roman", "Georgia", serif;
--body-font: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: var(--secondary-color);
    color: var(--accent2-color)
}
body{
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer{
    width: 840px;
    margin: 0 auto;
}
h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article{
    margin: 16px;
    padding: 8px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav{
    display: grid;
    grid-template-columns: 75px 100px 75px 80px;
    align-items: center;
}
nav a{
    display: block;
    text-decoration: none;
}
.navigation a:hover {
    color: red;
    text-decoration: underline;
}
p img{
    position: relative;
    width: 200px;
}
section p{
    display: grid;
    grid-template-columns: 40% 30% 35%;
    align-items: flex-start;
}
aside{
    margin: 75px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 10%;
    align-items: center;
}
figure img{
    position: relative;
    width: 150px;
    height: 100px;
}
h2{
    background-color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia a img{
    position: relative;
    width: 50px;
}
.hero{
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
h1{
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff;
}
.hero article img{
    float: right;
    width: 100px;
    opacity: 100;
}
.hero article{
    text-align: left;
    position: absolute;
    background-color: var(--accent2-color);
    bottom: 10px;
    width: 96%;
    opacity: 0.7;
    color: #fff;
}



