table{
    border-collapse: collapse;
    border: 2px gray solid;
    font-family: sans-serif;
    font-size: 0.9rem;
    letter-spacing: 1px;
}
th, td{
    border: 2px black solid;
    padding: 8px, 10px;
    text-align: center;
}
thead th, tfoot tr{
    background-color: black;
    color: #fff;
    font-weight: 700;
}