*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

:root {
--background-color: #eee;
--border-color: black;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid{
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: .1rem;
    box-shadow: 0 0 15px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p {
    margin: 1rem;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--background-color);
    display: block;
    padding: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;

}

h1 {
    color: darkblue;
    padding: .5rem;
    border-bottom: 1px solid #000;
}

aside{
    width: 20rem;
    margin: 10px;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--background-color);
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img{
    width: 200px;
    height: auto;
}

aside h2{
    position: relative;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer{
    margin-top: 25px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}

p {
    padding: 0px;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}